<h1>New Department</h1>

<form action="<%= departments_path %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
  <p>
    <b>Name:</b>
    <input required type="text" value="<%= @department.name %>" name="department[name]" maxlength="45" size="45">
  </p>
  <button type="submit">Submit</button>
</form>