.adminLead{
	
	h2,h4{
		margin-top: 0;
	}
	.customerPart{
		.form-horizontal{
			margin-left: -20px;
			[class*="span"] {
				margin-left: 20px;
			}
			.span3{
				width: 260px;
				.control-label {
					
					width: 60px;
				}
				 .controls {
					input{
						width: 157px;
					}
				}
			}
			.span2 {
				width: 190px;
				.input-small {
					width: 107px;
				}
			}
			.span1 {
				width: 120px;
				.input-mini {
					width: 53px;
				}
			}
			
			.control-label {
				width: auto;
				text-align: left;
				
			}
			 .controls {
				margin-left: 4px;
				float: left;				
			}
			p{
					margin-bottom: 0;
				padding-top: 5px;
				padding-right: 26px;
			}	
			
		}
		.span3 .control-group {
			overflow: hidden;
		}
	
		.customerImg{
			height: 100px;
			border: 1px solid lighten($lightGrey,10%);
		}
		.btnEditSave{
			border-radius: 44px;
			padding: 0;
			width: 20px;
			height: 20px;
			line-height: 20px;
			position: absolute;
			top: 5px;
			right: 0px;
			background: #E4E4E4;
			border: 1px solid #CACACA;
			&:hover{
				opacity: 0.85;
			}
		}
		.input-small {
				margin-bottom: 3px;
			}	
	}	
	
	.phonePart.form-horizontal{
		margin-left: 0;			
			text-align:right;
			list-style: none;
			margin-bottom:15px;
			li{
				list-style: none;
			}
			label{
				display: inline-block;
				margin-right: 3px;
			}
			p{
				display: inline-block;
				margin-bottom: 0;
				float: left;
			}
		.controls{
			width: 130px;
			float: right;
			.input-small{
				float: left;
			}
		}
		.control-label{
			margin-bottom: 2px;
		}
		.control-group{
			margin-bottom: 0;
		}
	}
	
	.contactRequest{
		.otherLeads{
			font-size: 12px;
			label{
				font-weight: bold;
				font-size: 12px;
				display: inline-block;
			}
			span{
				margin: 0 15px 0 10px;
			}
		}
	}
	.infoPart{
		input[type="text"]{
			width: 89%;
		}
		textarea{
			width: 99%;
		}
		.dateDiv{
			input{
			width: 80% !important;
			}			
		}
		.btn-highlight{
			margin-top: 10px;
		}
	}

	
	.activityLog{
		margin-top: 50px;
		h4 {
			margin-bottom: 5px;
			text-transform: none;
			font-weight: bold;
			font-size: 13px;
			small{
				font-size: 12px;
			}
		}
		ul{
			li{
				margin-bottom: 2px;
			}
			font-size:12px;
			padding:10px;
			background:  lighten($grayLighter,2%);
			border: 1px solid #dddddd;
			list-style: none;
			margin-left: 0;
			color: $gray;
			 span {
				background: darken($grayLighter,5%);
				padding: 0 2px;
			}
		}
	}
	
	.imgContainer{
		width: 104px;
	}
	
	
		
}
