.costmerPage{
	.imgContainer{
		width: 104px;
	}
	h3{
		margin: 0 0 5px 0;
	}
	.box-panel{
		overflow: hidden;
	}
	.btn-dark{
		&.small{
			float: none;
			text-transform: none;
		}
	}
	
	.customerPart{
		.form-horizontal{
			margin-left: -20px;
			[class*="span"] {
				margin-left: 20px;
			}
			.span3{
				width: 260px;
				.control-label {
					
					width:auto;
				}				
			}		
			p{
				padding-right: 0px;
			}	
			
		}
	}
}
