<!DOCTYPE html>
<html>
<head>
  <title>EagleRider CRM</title>
  <%= stylesheet_link_tag    "er_crm/application", :media => "all" %>
  <%= javascript_include_tag "er_crm/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
