<!doctype html> <!--[if IE 7]><html lang="en" class="ie ie7"><![endif]-->
<!--[if IE 8]><html lang="en" class="ie ie8"><![endif]-->
<!--[if IE 9]><html lang="en" class="ie ie9"><![endif]-->
<!--[!(IE)]><!-->
<html lang="en">
  <!--<![endif]-->
  <head>
    <%= render partial: 'layouts/er_crm/header' %>
  </head>
  <body class="<%= @body_class %>">    
    <%= render partial: 'layouts/er_crm/navigation' %>
    <%= yield %>
  </body>
</html>